<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="common/meta :: meta"></th:block>
	<script type="application/javascript" th:src="@{templates/basic/user/user.js}"></script>
	<title>用户管理</title>
</head>
<body>
	<div class="easyui-layout vst" data-options="fit:true,border:false">
		<div data-options="region:'north'" class="vst-north-search" style="height:auto">
			<form id="searchForm" class="vst-form search">
				<div class="lineDiv">
					<span class="vst-form-span">用户代码</span>
					<input name="userCode" class="easyui-textbox">
				</div>
				<div class="lineDiv">
					<span class="vst-form-span">用户名称</span>
					<input id="searchUsername" name="username" class="easyui-textbox">
				</div>
				<div class="lineDiv search-btn">
					<button id="btn_search" type="button" onclick="searchForm()" class="btn vbtn">搜索</button>
				</div>
			</form>
		</div>
		<div data-options="region:'center'" class="vst-center-content">
			<table class="vst-easyui-datagrid" id="datagrid"
			data-options="url:'basic/system/user/selectList', pagination:true, striped:true, border:false, idFeild : 'USERID',
						  onDblClickRow : function(rowIndex, rowData){
				             dblClickRow(rowIndex, rowData);
				          }">
				<thead>
					<tr>
			            <th data-options="field:'USERCODE',sortable:true" width="100px">用户代码</th>
			            <th data-options="field:'USERNAME',sortable:true" width="100px">用户名称</th>
			            <th data-options="field:'ZZBM',sortable:true" width="150px">组织机构编码</th>
			            <th data-options="field:'ZZJGMC',sortable:true" width="150px">组织机构名称</th>
                        <th data-options="field:'ZCRQ',sortable:true" width="100px">注册日期</th>
                        <!--
                        <th data-options="field:'YHZT',sortable:true" width="100px">用户状态</th>
                        -->
                        <th data-options="field:'LXFS',sortable:true" width="150px">联系方式</th>
			            <th data-options="field:'POSITION',sortable:true" width="100px">职务</th>
			            <!--
			            <th data-options="field:'SQID',sortable:true" width="100px">授权ID</th>
			            <th data-options="field:'YXBZ',sortable:true" width="100px">有效标志</th>
			            <th data-options="field:'DATAINSERTER',sortable:true" width="100px">录入人</th>
			            <th data-options="field:'INSERTDATE',sortable:true" width="100px">录入日期</th>
			            <th data-options="field:'CZR',sortable:true" width="100px">操作人</th>
			            <th data-options="field:'CZRQ',sortable:true" width="100px">操作日期</th>
			            <th data-options="field:'ZXRQ',sortable:true" width="100px">注销日期</th>
			             -->
			            <th data-options="field:'BZ',sortable:true" width="200px">备注</th>
			            <th data-options="field:'OPERATION_BTN', align:'center', formatter:formatOperationBtn" width="130px">操作</th>
						<th data-options="field:'USERID',checkbox : true" width="100px">用户ID</th>
					</tr>
				</thead>
			</table>
		</div>
		<div data-options="region:'south',border:false" class="vst-south-foot">
			<div class="vst-bottom-tools">
				<div class="btn-tools">
					<button id="btn_add" onclick="add()" class="btn vbtn">添加</button>
					<button id="btn_remove" onclick="remove()" class="btn vbtn">批量删除</button>
				</div>
			</div>
		</div>
	</div>
	<div id="win" class="easyui-dialog" title="标题"
		buttons="#dlg-buttons"
		data-options="modal:true,closed:true,border:'thin',size:'c',height:450">
		<form id="operForm" class="vst-form" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<div class="lineDiv">
						<span class="vst-form-span" >用户代码</span>
						<input name="userCode" class="easyui-validatebox easyui-textbox" data-options="required:true,err:VST.validateErr">
					</div>
					<div class="lineDiv no-margin">
						<span class="vst-form-span" >用户名称</span>
						<input id="username" name="username" class="easyui-validatebox easyui-textbox" data-options="required:true,err:VST.validateErr">
					</div>
					<div class="lineDiv">
						<span class="vst-form-span">默认密码</span>
						<input id="chgPassword" name="chgPassword" class="easyui-validatebox easyui-textbox" data-options="required:false,err:VST.validateErr">
					</div>
					<div class="lineDiv no-margin">
						<span class="vst-form-span">组织机构</span>
						<input id="organizationId" name="organizationId" class="easyui-combotree" data-options="required:true, panelMaxHeight: 300">
					</div>
					<div class="lineDiv">
						<span class="vst-form-span">用户状态</span>
						<select	id="userStatus" name="userStatus" class="easyui-combobox" data-options="required:true,err:VST.validateErr, panelHeight:'auto'">
							<option value="0">注销</option>
							<option value="1">正常</option>
							<option value="2">锁定</option>
						</select>
					</div>
					<div class="lineDiv no-margin">
						<span class="vst-form-span">有效标志</span>
						<select	id="validFlag" name="validFlag" class="easyui-combobox" data-options="required:true,err:VST.validateErr, panelHeight:'auto'">
							<option value="1">有效</option>
							<option value="0">无效</option>
						</select>
					</div>
					<div class="lineDiv">
						<span class="vst-form-span">联系方式</span>
						<input id="contactInfo" name="contactInfo" class="easyui-validatebox easyui-textbox" data-options="required:true,err:VST.validateErr">
					</div>
					<div class="lineDiv no-margin">
						<span class="vst-form-span">职务</span>
						<select name="position" vst-combox="ZW" class="easyui-validatebox" data-options="required:true,err:VST.validateErr"></select>
					</div>
					<div class="lineDiv">
						<span class="vst-form-span">备注信息</span>
						<input id="memo" name="memo" class="easyui-validatebox easyui-textbox" data-options="required:true,err:VST.validateErr">
					</div>
					<div class="lineDiv no-margin">
						<span class="vst-form-span">授予角色</span>
						<input id="roleId" name="roleId" class="easyui-combobox"
						   	 data-options="
						   	 required:true,
						   	 err:VST.validateErr,
						   	 width: 457,
			   				 panelMaxHeight: 260,
						   	 multiple:true,
						     multiline:true,
						   	 panelHeight:'auto'">
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class="lineDiv">
						<span class="vst-form-span">权限预览</span>
						<ul class="easyui-tree" id="resourceId" style="height:310px;width:245px;overflow: auto"></ul>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div id="dlg-buttons">
		<button type="button" onclick="$('#win').dialog('close')" class="btn vbtn">取消</button>
		<button type="button" onclick="save()" class="btn vbtn">保存</button>
	</div>
</body>
</html>
