<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="common/meta :: meta"></th:block>
    <title>处理中.....</title>
    <script type="text/javascript">
        var logout = "${logout}";
        var openWin = null;
        if("1"==logout){
            //退出
            logoutClose();
        }else{
            //登录
            openFullWindow();
        }

        //退出登录，关闭页面
        function logoutClose(){
            if(VSTOptions.custom.system.logoutClose){
                closeWindow();
            }else{
                window.location.href = basePath;
            }
        }
        //登录成功，在新窗口打开主页面
        function openFullWindow(){
            if(VSTOptions.custom && VSTOptions.custom.system.ownWinOpen){
                openWin = window.open(basePath,"_blank","fullscreen=1,channelmode=1, menubar=no, scrollbars=no, resizable=no,location=no, status=no");
                if(Common.getBrowserNV().indexOf("chrome")>=0){
                    openWin.resizeTo(screen.width, screen.height);
                }
                setTimeout(function(){
                    closeWindow();
                }, 5000);
            }else{
                window.location.href = basePath;
            }
        }
        function closeWindow(){
            if(Common.isIE()){
                window.opener=null;
                window.top.opener=null;
                window.location.href="about:blank";
                window.open("","_self");
                window.close();
            }else{
                window.location.href="about:blank";
                window.close();
            }
        }
    </script>
</head>
<body>
        <!--/*@thymesVar id="testAttr" type="java.lang.String"*/-->
        <div th:text="${testAttr }"></div>
</body>
</html>
