.sel-input .textbox-text{
	cursor: pointer;
}
.tp-input{
	border: 0;
    background-color: transparent;
}

/* 右侧冻结 */
.datagrid-view1 {
	left: auto;
	right: 0;
}
.datagrid-view1 td {
	border-left: 1px solid #eee !important;
}
.datagrid-view2 {
	left: 0;
	right: auto;
}